* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: var(--font-second);
    text-decoration: none;
}

:root {
    /* Base */
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #fff;

    /* Black */
    --color-black-first: #000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;

    /* Status */
    --color-error: #BA1F33;
    --color-warning: #CEB02A;
    --color-success: #62C370;

    /* Fonts */
    --font-first: 'Press Start 2P', cursive;
    --font-second: 'Fira Code', sans-serif;
}

