.c-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-slide__wrapper-movement {
    margin: 0 0.625rem;
    overflow-x: hidden;
}

.c-slide__movement {
    display: flex;
    gap: 1.25rem;
}

.c-slide .c-button {
    min-width: 3.75rem;
}