.node-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.node-card::before {
    content: '';
    position: absolute;
    top: 32px;
    border: 4px dashed var(--color-black-first);
    height: 40px;
}

.node-card__title {
    padding-bottom: 5px;
    border-bottom: 5px solid var(--color-black-first);
    margin-bottom: 50px;
    width: 100%;
    color: var(--color-first);
    font-family: var(--font-first);
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    text-align: center;
}

.node-card__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--color-black-first);
    background-color: var(--color-warning, #CEB02A);
    height: 140px;
    padding: 0 20px 0 20px;
}

.node-card__logo--clean {
    padding: 0;
    overflow: hidden;
}

.node-card__logo--first {
    background-color: var(--color-first);
}