/* configurações gerais */

.title {
    color: var(--color-first);
    font-family: var(--font-first);
    font-size: 40px;
    font-weight: 400;
    text-shadow: 4px 4px 0px var(--color-black-first);
}
