.l-banner {
    background-color: var(--color-black-first);
    border-bottom: 10px solid var(--color-black-first);
}

.l-banner__bg {
    margin: 0 auto;
    background-image: url(../../image/bg-photo.png);
    background-size: cover;
    height: 50rem;
}

.l-banner__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 7.1875rem;
    margin-left: 5.625rem;
    max-width: 39.375rem;
}

.l-banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    box-shadow: 0.625rem 0.625rem 0rem var(--color-black-first);
    background-color: var(--color-black-second);
    height: 11.5625rem;
}

.l-banner__buttons {
    display: flex;
    justify-content: space-evenly;
}