.l-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    
    background-color: var(--color-black-first);
    height: 6.25rem;
}

.l-footer .c-logo-medias:hover {
    border: 0.3125rem solid var(--color-black-first);
}