.l-header {
    background-color: var(--color-second);
    border-bottom: 10px solid var(--color-black-first);
}

.l-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    margin: 0 auto;
    height: 5.3125rem;
    max-width: 87.5rem;
}

.l-header__logo {
    width: 3.75rem;
}

@media screen and (max-width: 52.5rem) {
    .l-header__content {
        position: relative;
    }

    .l-header__content .c-button {
        background-color: var(--color-second);
        width: 90%;
    }
}