.l-projects {
    border-bottom: 10px solid var(--color-first);
    background-color: var(--color-black-first);
}

.l-projects__content {
    margin: 0 auto;
    max-width: 87.5rem;
}

.l-projects__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.125rem 11.25rem;
    
    margin-top: 3.125rem;
}